.bg-body{
  background: #e6edf5;
}

.sc-card {
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
}

.c-chart{
  margin-top: 2%;
}

.c-table{
  margin-top: 20%;
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.c-modal{
  width: 120%;
}

.is-data{
  display: none;
}

.is-btn{
  display: none;
}

.pointer-btn{
  cursor: pointer;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}